<div style="font-family: 'Raleway', 'sans-serif'; font-size: 16px;">

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <!-- <%= @post.author %> -->
  <%= @post.user.email %>
</p>

<p>
  <strong>Blog entry:</strong>
  <%= @post.blog_entry %>
</p>

</div>

<!-- before bootstrap -->
<!-- <%= link_to 'Edit', edit_post_path(@post) %> | -->
<!-- <%= link_to 'Back', posts_path %> -->

<!-- after adding bootstrap -->
<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary navbar-btn" %>
<div id="comments">
  <%= render 'comments/form', comment: @comment %>

  <% @post.comments.each do |comment| %>
    <p>
      <%= comment.user.email %> said... <br>
      <%= comment.comment_entry %>
    </p>
  <% end %>
</div>
<%= link_to 'Back', posts_path, class: "btn btn-primary navbar-btn" %>

