<!-- <h1>Practice#index</h1>
<p>Find me in app/views/practice/index.html.erb</p> -->

<h1>Choose a Color</h1>

<% if !@name.nil? %>
	<h2>Welcome Back, <%= @name %></h2>
<% end %>

<p>
	<%= link_to "Red", about_path(color: 'red') %>
</p>

<p>
	<%= link_to "Blue", about_path(color: 'blue') %>
</p>

<p>
	<%= link_to "Green", about_path(color: 'green') %>
</p>

<p>
	<%= link_to "Yellow", about_path(color: 'yellow') %>
</p>